<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Return</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <!-- Bootstrap Icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />
  <!-- SimpleLightbox plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
  <link href="../assets/css/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <style>
    .bh {
      width: 70%;
      margin-left: 15%;
    }

    .table,
    .td {
      width: 100%;
      border: none;
    }

    .td {
      display: block;
      box-sizing: border-box;
      clear: both;
    }

    .btn {
      text-align: center;
      word-spacing: 100px;
    }

    .table-bordered {
      border: none;
    }

    .info-table {
      width: auto;
      border: none;

    }

    .fp {
      text-decoration: none;
    }

    .collapse.show {
      background: rgba(255, 255, 255, 0.05);
      transition: background 0.25s;
    }

    #filter-form {
      margin: auto;
      width: fit-content;
    }

    .table-head {
      margin-left: 286.5px;
      align-items: right;
      border: none;
      width: 70%;
      margin-bottom: 20px;
      font-weight: bold;

    }

    .info-table tr td:nth-child(1) {
      width: 50%;
      padding: 5px 50px;
    }

    .info-table tr td:nth-child(2) {
      width: 50%;
      padding: 5px 0px;
    }

    .table-head tr th {
      font-weight: 900;
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
    }
  </style>
</head>


<body id="page-top" class="signinbody">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top">Book Look</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item"><a class="nav-link" href="/users/rent">Rent</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/borrow">Borrow</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/sign-out">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->

  <div class="borrowHead" align="center">
    <h1>Return</h1>
    <form method=get action=/users/return id="filter-form">
      <table class="table table-borderless" style="color:white; font-size:15px;">
        <tr>
          <td><input type=text class="form-control" name="bnam" placeholder="Book name"></td>
          <td><input type="submit" class="btn btn-success" style="width:80px" id="filter-submit" value=Search>
          </td>
        </tr>
      </table>

    </form>
  </div>

  <div id="table-bordered">
    <% nbtn="btn-primary" %>
    <% rbtn="btn-success" %>
    <table class="table-head">
      <tr style="background: linear-gradient(grey, rgb(77, 77, 77)); height:50px;">
        <th
          style="word-spacing: normal;height:50px; display:inline-block; text-align:left;  width:27.3%;margin-left:107px; padding-top:12.5px">
          Book Name</th>
        <th
          style="word-spacing: normal;height:50px; display:inline-block; text-align:left; width:27.3%; padding-top:12.5px">
          Author</th>
        <th
          style="word-spacing: normal;height:50px; display:inline-block; text-align:left; width:17.5%; padding-top:12.5px">
          Price</th>
        <th style="word-spacing: normal;height:50px; display:inline-block; text-align:left; padding-top:12.5px">Duration
        </th>
      </tr>
    </table>
    <% for(let i of books){ %>
    <% btncol = nbtn %>
    <% if(i.returned == true){btncol=rbtn} %>

    <p>

      <a class="btn <%= btncol %> bh" data-toggle="collapse" href="#<%= i.id %>" role="button" aria-expanded="false"
        aria-controls="collapseExample" style="display:block;margin:0 auto;">
        <!-- <span style="word-spacing: normal;">Transaction <%= i.id %></span> -->
        <span class="text-nowrap bd-highlight text-truncate"
          style="word-spacing: normal; width:20%;margin-left:40px; display:inline-block; text-align:left;"><%= i.bookname %></span>
        <span class="text-nowrap bd-highlight text-truncate"
          style="word-spacing: normal; width:20%; display:inline-block;text-align:left;"><%= i.bookauthor  %></span>
        <span class="text-nowrap bd-highlight text-truncate"
          style="word-spacing: normal; width:10%; display:inline-block;text-align:left;">Price:
          &#8377;<%= i.borrowprice %>/day</span>
        <span class="text-nowrap bd-highlight text-truncate"
          style="word-spacing: normal; width:15%; display:inline-block;text-align:left;">Duration:
          <%= i.borrowduration %> days</span>
      </a>
    </p>
    <!-- </td>
        </tr>
    </table> -->
    <div class="collapse" id="<%= i.id %>">
      <table class="info-table"
        style=" margin: 0 auto; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:bolder">
        <tr>
          <td>
            Book Name:
          </td>
          <td>
            <%= i.bookname %>
          </td>
        </tr>
        <tr>
          <td>
            Author:
          </td>
          <td>
            <%= i.bookauthor %>
          </td>
        </tr>
        <tr>
          <td>
            Price/day:
          </td>
          <td>
            &#8377;<%= i.borrowprice %>
          </td>
        </tr>
        <tr>
          <td>
            Duration:
          </td>
          <td>
            <%= i.borrowduration %>
          </td>
        </tr>
        <tr>
          <td>
            Compensation Price:
          </td>
          <td>
            &#8377;<%= i.compensationprice %>
          </td>
        </tr>
        <tr>
          <td>
            Contact Number:
          </td>
          <td>
            <%= i.phno %>
          </td>
        </tr>
        <tr>
          <td>
            Renter:
          </td>
          <td>
            <a class="fp" href="http://localhost:8005/users/profile?q=<%= i.renter.username %>"><%= i.renter.name %></a>
          </td>
        </tr>
        <tr>
          <td>
            Borrow Date:
          </td>
          <td>
            <%= i.borrowdate %>
          </td>
        </tr>
        <tr>
          <td>
            Return?
          </td>
          <td>
            <% if(i.returned != true) { %>
            <div style="display: table-cell;">
              <form action="/users/return/ret" method="POST" class="otp-form" style="width: 0;">
                <input type="number" name="OTP" placeholder="OTP" class="otp" style="width:160px">
                <input type="hidden" name="bookid" class="otp-hidden" value=<%= i.id %>>
                <button type="submit" id="otp-submit"
                  style="width: fit-content; height:30px; padding:0px 10px">Submit</button>
              </form>
            </div>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>
            Total:
          </td>
          <td style="height: 10px;">
            <%= i.total %>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <% } %>

  <div style="height:80px;"></div>

</body>

</html>