<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>USER PROFILE</h1>
    userID =<%= user.id %>
    username= <%= user.name%>
    <a href="/users/rent">RENT</a>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../assets/css/styles.css" rel="stylesheet" >
</head>
<body id="page-top" class="profbgBody">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Book Look</a>
            <div id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/users/rent">Rent</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/borrow">Borrow</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/return">Return</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/sign-out">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="profile">
    <h2 class=uprofileh2>My Profile</h2>
    <table class=profiletable>
        <tr class=profiletr>
            <td>Name:</td>
            <td><%= user.name %></td>
        </tr>
        <tr class=profiletr>  
            <td>Email:</td>
            <td><%= user.email %></td>
        </tr>    
        <tr class=profiletr>    
            <td>DOB:</td>
            <td><%= user.dob %></td>
        </tr>
        <tr class=profiletr>
            <td>Username:</td>
            <td><%= user.username %></td>
        </tr>
        <tr class=profiletr>
            <td>Address:</td>
            <td><%= user.address %></td>
        </tr>
        <tr class=profiletr>
            <td>Phone Number:</td>
            <td><%= user.phno %></td>
        </tr>
    </table>

    </div>
    <a href="/users/up-update">Update profile</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <!-- Bootstrap Icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />
  <!-- SimpleLightbox plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
  <link href="../assets/css/styles.css" rel="stylesheet">

</head>

<body class="profileBody">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top">Book Look</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item"><a class="nav-link" href="/users/rent">Rent</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/borrow">Borrow</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/return">Return</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/recommendation">Recommendation</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/sign-out">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="profilePage">
    <h1 class="profileHead">User Profile</h1>
    <div class="col-lg-8">
      <div class="profileTable">
        <div class="card-header bg-transparent border-0">
          <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
        </div>
        <div class="card-body pt-0 ">
          <table class="table-borderless">
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">Name</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.name %>
              </td>
            </tr>
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">Email</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.email %>
              </td>
            </tr>
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">DOB</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.dob %>
              </td>
            </tr>
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">Username</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.username %>
              </td>
            </tr>
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">Phone Number</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.phno %>
              </td>
            </tr>
            <tr style="color: white; height:50px;">
              <th width="20%" style="text-align:right; font-size:20px;">Address</th>
              <td width="2%">:</td>
              <td style="font-size:20px;">
                <%= user.address %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <a href="/users/up-update"><button class="btn btn-primary upd-prof-btn">Update profile</button></a>
</body>

</html>